.cursor {
  cursor: url("../../assets/cursor.png") 4 12, pointer;
}
.heading {
  cursor: url("../../assets/icursor.png"), pointer;
}
.css-17sthuj {
  display: none !important;
}
.link {
  padding: 16px;
  width: 300px;
  height: 53px;
  position: absolute;
  text-align: end;
  background: none;
  color: transparent;
}
.link:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
}
