.rfipbtn {
  width: 30px !important;
  background-color: transparent !important;
  display: flex;
  flex-flow: row nowrap;
  border: none !important;
  border-radius: o !important;
  cursor: pointer;
  transition: none !important;
  outline: 0 none;
  user-select: none;
  margin-left: -17px;
  &--empty {
    display: none !important;
  }

  &__icon {
    display: none !important;
  }
  &--open {
    display: none !important;
  }
  &__icon {
    display: none !important;
  }
  &__del {
    display: none !important;
  }
  &__button {
    display: none !important;
  }
}
.rfipbtn__current {
  display: none !important;
}

.rfipcategory {
  width: 100%;

  margin: 0 0 8px;
  position: relative;
}

.rfip {
  position: relative;
  display: inline-block;
  margin: 8px;
  width: 15px;

  vertical-align: middle;
}

.rfipdropdown {
  width: 352px;
  position: absolute;
  left: -330px !important;
  margin-top: -1px;
  z-index: 100000001;
  border-radius: 0 1px 4px 4px;
}

.bl {
  display: none !important;
}
.as {
  border: none !important;
}
.as:hover {
  border: none !important;
}

.bj {
  width: 0 !important;
}
.bi {
  margin-right: 0 !important;
}
.css-1125gmz {
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0 !important;
}

.css-5h37fs {
  margin-top: 300px !important;
}

.css-ydyf1a {
  margin-top: 500px !important;
}

.editlist {
  margin-top: 180px !important;
}
.edit {
  margin-top: -70px !important;
}
